:root{
    --logo-cl:#f0022f ;
    --hover:#ff3d00;
    --jamstak:#4767f6;
    --jamstak-expert:#eceef3;
    --gray:#cbccd1;
}
*{
    margin:0px;
    padding: 0px;
}
body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
@font-face {
    font-family: open-sans;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: open-sans;
    src: url(../fonts/OpenSans-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: open-sans;
    src: url(../fonts/OpenSans-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: open-sans;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}
header{
    padding: 40px 0px 120px 0px;
}
.bg-red{
    background: var(--logo-cl);
}
.bg-blue{
    background:transparent;
}
.jam-expert{
    background:var(--jamstak-expert) ;
   
}
.bg-col-blue{
    background:var(--jamstak);  
}
.red-box{
    height:40px;
    width:150px;
}
header ul{
    width:50%;
}
.main-heading{
    font-size: 3rem;
}
button:hover{
   background-color: var(--hover);
}
.section-heading{
    font-size: 2rem;
}
.fs-1 {
    font-size: calc(1.375rem + 1.5vw)!important;
}
.morden-technology-text::after{
    content: "";
    width:1px;
    height:200px;
    background:var(--gray);
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(50%, 10%);
}
.black-dot{
    position:absolute;
    left: 50%;
    transform: translate(-42%, 10%);
}
.one-stop-solution{
    padding-bottom: 120px;
    
}
.solution-text{
    margin-top:220px
}
.jamstak {
    font-size: 2.5rem;
    line-height: 4rem;
    padding: 30px 14px 30px 20px;
}
.jamstack-expert{
    font-size: 2.5rem;
    padding: 30px 10px 0px 0px;
    letter-spacing: 0px;
}
.circle::before{
    content: "";
    display: inline-block;
    margin-right:10px;
    height: 25px;
    width:25px;
    background: url(../images/circle.png);
    background-size:cover;
}
.square::before{
    content: "";
    display: inline-block;
    margin-right:10px;
    height: 33px;
    width:30px;
    background: url(../images/1.png);
    background-size:cover;
}
.pentagon::before{
    content: "";
    display: inline-block;
    margin-right:10px;
    height: 25px;
    width:25px;
    background: url(../images/pentagon.png);
    background-size:cover;
}
.what-is-jamstack{
    padding-top: 120px;
}
.orange-circle{
    height: 80px;
    width: 80px;
    background-color: var(--hover);
}
.mobile-users{
    background: var(--jamstak-expert);
}
.static-website{
    background: var(--jamstak);
}
.input-mail {
    box-sizing: border-box;
    padding: 18px 45px;
    outline: 0px;
    border: 0px;
    width:100%;
    padding-right:5%;
    font-size: 1rem;
    position: relative;
    border-radius: 50px;
}
.subscribe-btn {
    background-color: var(--logo-cl);
    font-size: 1rem;
    border: 2px solid var(--logo-cl);
    box-sizing: border-box;
    padding: 16.5px 45px;
    margin:10px 0px 0px 0px;
    cursor: pointer;
    position:static;
    border-radius: 50px;
}
.subscribe-btn:hover{
    background-color: var(--hover);
    border: 2px solid var(--jamstak-expert);
    transition:all 2s ease;
}
.package-1{
    box-sizing: border-box;
    width:100%;
    background-color:var(--jamstak-expert) ;
    padding: 0px 30px;
 }
 .package-1:hover{
    transition: all 0.5s ease;
    background-color:var(--jamstak) ;
    color: var(--gray);
 }
.package-1:hover .know-more-text{
    display: block;
    background-color: transparent;
}
 .card-padding{
     padding: 0px auto;
 }
 .inner-circle-1{
    height: 80px;
    width:80px;
    background:var(--logo-cl);
 }
.know-more-text{
    position: absolute;
    display: none;
}
.case-study-text{
    color: #f0022f !important;;
}
.square-2::before{
    content: "";
    display: inline-block;
    margin-right:10px;
    height: 33px;
    width:30px;
    background: url(../images/1.png);
    background-size:cover;
    display: none;
}
.faster:hover{
    color: var(--gray);
}
.faster:hover .square-2::before{
    display: block;
}
.blog-card{
    box-sizing: border-box;
    width:100%;
    border: 2px solid var(--jamstak-expert);
    padding-bottom: 10px;
    cursor: pointer;
}
.blog-card:hover{
    transition: all 0.5s ease;
   box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.read-blog-text{
    color: white;
    font-weight: 700;
}
.blog-card:hover .read-blog-text{
    transition:all 0.8s ease;
    display: block;
    color: black;
}
.openmenu{
    display: none;
}
.mainmenu{
    display: none;
}
.closemenu{
    display: none;
}
.text-bg{
    display: none;
}
.hover-square{
    display: none;
}
.customers-div{
    border: 1px solid var(--gray);
}
.customers-div:hover{
    transition: all 0.2s ease;
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.customers-div:hover .hover-square{
    display: block;
}
@media  (min-width:992px){
    .openmenu {
        display: block;
        position: absolute;
        top: 20px;
        right:10px;
        cursor: pointer;
    }
    .mainmenu{
        display: none;
    }
    .mainmenu {
        width: 50vw;
        height: 100vh;
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(to bottom, var(--jamstak),white);
        transition: top 1s ease;
        display: none;
    }
    .mainmenu .closemenu {
        display: block;
        position: absolute;
        top: 20px;
        right:10px;
        cursor: pointer;      
    }
    .text-bg{
        display: block;
    }
    .main-heading{
        font-size: 4rem;
    }
    .section-heading{
        font-size: 3.2rem;
    }
    .input-mail {
        width:80%;
    }
    .subscribe-btn{
        margin:0px 0px 0px 0px;
        position: absolute;
        left: 49%;
       
    }
    .bg-blue{
        background:var(--jamstak);
    }
    .card-padding{
        padding: 0px 20px;
    }
    .bg-blue{
        background:linear-gradient(to right,var(--jamstak),var(--jamstak),var(--jamstak),var(--jamstak-expert),var(--jamstak-expert));
    }
    .jam-expert{
        background:var(--jamstak-expert) ;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
    }
    .jamstak {
        font-size: 3.8rem;
        line-height: 5rem;
        padding: 30px 14px 30px 20px;
    }
}
@media  (min-width:1200px){
    .card-padding{
        padding: 0px 20px;
    }
}


